/* Common Styles */

* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
}

/* Header Design */

.intro {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  text-align: right;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 680px;
}

.intro-title {
  padding-top: 216px;
  margin-left: 845px;
  margin-right: 100px;
  color: #151414;
  text-align: right;
  font-size: 65px;
  font-weight: 700;
}

.intro-desc {
  color: #444343;
  text-align: right;
  margin-left: 876px;
  margin-right: 100px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.btn {
  width: 160px;
  height: 64px;
  margin-top: 53px;
  margin-left: 876px;
  margin-right: 100px;
  border-radius: 5px;
  background: #f15b22;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

/* Main Body Design */

.main {
  background: #fff;
}

.section {
  text-align: center;
  align-items: center;
}

.my-failure {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 130px;
}

.failure {
  margin-left: 120px;
}

.failure-title {
  color: #151414;
  margin-right: 250px;
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 700;
}

.failure-desc {
  color: #444343;
  margin-right: 122px;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}

.faiure-list li {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  list-style-type: none;
}

.plan-title {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.plans {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.plan-list {
  padding: 50px;
  align-items: center;
  text-align: center;
}

.plan-list img {
  width: 92.958px;
  height: 92.958px;
}

.plist-title {
  color: #151414;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.plist-desc {
  color: #737272;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}

/* CTA Section Design */

.cta {
  background-image: url("../images/watch.png"),
    linear-gradient(90deg, #f15b22 10%, rgba(241, 91, 34, 0) 100%);
  background-blend-mode: overlay;
  /* background-position: center; */
  background-repeat: no-repeat;
  width: auto;
  height: 300px;
  border-radius: 8px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 120px;
}

.cta-title {
  color: #fff;
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  margin-left: 130px;
  padding-top: 50px;
  width: 459px;
}

.cta-btn {
  border-radius: 5px;
  background: #fff;
  width: 160px;
  height: 64px;
  margin-left: 130px;
  border: none;
  color: #f15b22;
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

/* Footer Style */
footer {
  width: auto;
  height: 450px;
  background-color: #151414;
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}

.future {
  width: 485px;
  color: #fff;
}

.f-title {
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
}

.f-desc {
  width: 485px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
}

.f-mail {
  margin-top: 24px;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.f-phone {
  color: #fff;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 16px;
}

.future-logo {
  display: flex;
  list-style: none;
}

.future-logo li {
  margin-right: 20px;
  margin-top: 32px;
}

.subscribe {
  color: #fff;
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 600;
}

.form input[type="email"] {
  margin-top: 25px;
  width: 325px;
  height: 64px;
  background-color: #151414;
  border-radius: 8px;
  border: 1px solid #fff;
  display: block;
  color: #f3f3f3;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
}

.form input[type="button"] {
  width: 170.106px;
  height: 64px;
  margin-top: 20px;
  border-radius: 8px;
  background: #fff;
  color: #f15b22;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}

input[type="email"]::placeholder {
  padding-left: 30px;
}